{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  <h1 class="mt-5">Wolverine</h1>

  <p>Welcome to Wolverine, {{ user.username }}</p>

  <form method="post" action="{% url 'download_images' %}">
    {% csrf_token %}
    <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Pixel Quantity</th>
      <th>Iteration Number</th>
      <th>Image</th>
      <th>Select to Download</th>
    </tr>
    {% for signal_input in signal_inputs %}
      <tr>
        <td>{{ signal_input.id }}</td>
        {% if signal_input.signaloutput.id %}
          <td><a href="{% url 'cgne_details' signal_input.signaloutput.id %}">Processed</a></td>
          <td>{{ signal_input.signaloutput.started_at }}</td>
          <td>{{ signal_input.signaloutput.finished_at }}</td>
          <td>{{ signal_input.signaloutput.pixel_size }}</td>
          <td>{{ signal_input.signaloutput.iteration_number }}</td>
          <td><img src="{% url 'image' signal_input.signaloutput.id %}"></td>
          <td class="text-center"><input type="checkbox" name="signaloutput_{{ signal_input.signaloutput.id }}"></td>
        {% else %}
          <td colspan="7">Processing</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-success align-right">Download Selected</button>
    </div>
  </form>

{% endblock %}
