<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1>Wolverine</h1>

  <p>Welcome to Wolverine, {{ user.username }}</p>

  <nav>
    <a href="{% url 'cgne' %}">Upload Signal File</a>
    <a href="{% url 'logout' %}">Logout</a>
  </nav>

  <form method="post" action="{% url 'download_images' %}">
    {% csrf_token %}
    <table>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Pixel Quantity</th>
      <th>Iteration Number</th>
      <th>Image</th>
      <th>Select to Download</th>
    </tr>
    {% for signal_input in signal_inputs %}
      <tr>
        <td>{{ signal_input.id }}</td>
        {% if signal_input.signaloutput.id %}
          <td><a href="{% url 'cgne_details' signal_input.signaloutput.id %}">Processed</a></td>
          <td>{{ signal_input.signaloutput.started_at }}</td>
          <td>{{ signal_input.signaloutput.finished_at }}</td>
          <td>{{ signal_input.signaloutput.pixel_size }}</td>
          <td>{{ signal_input.signaloutput.iteration_number }}</td>
          <td><img src="{% url 'image' signal_input.signaloutput.output_filename %}"></td>
          <td><input type="checkbox" name="signaloutput_{{ signal_input.signaloutput.id }}"></td>
        {% else %}
          <td>Processing</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
    <button type="submit">Download Selected</button>
  </form>

</body>
</html>
